@import url(https://fonts.googleapis.com/css?family=Google+Sans:100,200,300,400,500,700);
@font-face {
    font-family: 'TTTGB-Medium';
    src: url('assets/fonts/TTTGB-Medium.ttf');
}
.body--light {
  color: #70757a;
}

.body--dark {
    color: #9aa0a6;
}